.profile__buttons,
.profile__buttons-small {
  display: flex;
  align-items: center;
  justify-content: center;
}

.profile__buttons {
  column-gap: 1rem;

  @media screen and (max-width: 333px) {
    flex-direction: column;
    row-gap: 1rem;
  }

  @media screen and (min-width: 992px) {
    column-gap: 2rem;
  }
}

.profile__buttons-small {
  column-gap: 0.25rem;
}
