.profile__social {
  display: flex;
  justify-content: center;
  column-gap: 0.75rem;
}

.profile__social-link {
  font-size: 1.25rem;
  color: var(--title-color);
  transition: 0.3s;
}

.profile__social-link:hover {
  color: var(--first-color);
}
